<!doctype html>
<html lang="en">
  <head>
    {% block head %}
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      {% block styles %}
        <!-- Bootstrap CSS -->
        {{ bootstrap.load_css() }}
      {% endblock %}
      <title>7327 Project CST 205 Project</title>
      <!-- Style -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% endblock %}
  </head>

  <body>
    <header>
      <!-- Logo container -->
      <div class="container">
        <h1 class="logo">The Aviator Navigator</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('page2func') }}">How It Works</a></li>
            <li><a href="{{ url_for('page3func') }}">Experience</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>

    
        
    

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    <div class="container">
      
      <h1>Welcome!</h1>
      
    </div>
  </body>

  <div class="container">

  
    <body>
      <p>Welcome to the Aviator Navigator the perfect site 
        for all busy travelers whether they be a hobbyist who 
        like to explore the world on the go or a professional 
        that needs real time info on their next stop in their career</p>
      <h6>There is 1-6 Headers</h6>
      <form action="{{ url_for('home')}}" method="post">
        <label for="cityname">City Name:</label>
        <input type="text" id="cityname" name="cityname" placeholder="">
        <label for="statename">State Name:</label>
        <input type="text" id="statename" name="statename">
        <button type="submit">Login</button>
      </h6>
    </body>
  </div>
  


  <!-- Bottom of page -->
  <br></br>
  <div class="creators">
    <hr></hr>
  </div>
  <div class="container">
    <h6>The authors of this application are Brian Palomar, Nick Mederos, Vince Valencia.</h6>
  </div>
</html>