body {
  margin: 0;
  padding: 0;
  font-family: "Fantasy", papyrus;
  /* https://www.w3schools.com/css/css_font.asp */
  color: #444;
}
/* Header */
header {
  background-color: #b29066;
  height: 40px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}
header h1.logo {
  margin: 0;
  margin-top: 10px;
  font-size: 1.7em;
  color: rgb(238, 227, 227);
  text-transform: uppercase;
  float: left;
}

/* para */
.container {
  width: 1200px;
  margin: 0 auto;
}

.other_pages {
  float: right;
  margin-top: 8px;
}
.other_pages li {
  display: inline;
  margin-left: 35px;
}
.other_pages li a {
  color: #444;
  text-decoration: none;
}
.center{
  text-align: center;
}
.left {
  display: inline;
  margin-left: 200px;
  text-align: center;
  float: left ;
}
.right{
  display: inline;
  margin-right: 200px;
  text-align: center;
  float: right;
}
img {
  max-width: 100%;
  max-height: 100%;
 }