
<!doctype html>
<html lang="en">
  <head>
    {% block head %}
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      {% block styles %}
        <!-- Bootstrap CSS -->
        {{ bootstrap.load_css() }}
      {% endblock %}
      <title>7327 Project CST 205 Project</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
      {% endblock %}
  </head>
  
  <body>
    <header>
      <div class="container">
        <h1 class="logo">The Aviator Navigator</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('page2func') }}">How It Works</a></li>
            <li><a href="{{ url_for('page3func') }}">Experience</a></li>
            <li><a href="{{ url_for('page4func') }}">Tester</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    <div class="container">
      
      <h1>Tester</h1>
      <h6>The location you're looking for is:</h6>
      <h6>{{region}}</h6>
      <h6>{{dot}}</h6>
      <h6>Temperature: </h6>
      <h6>-Celsius: {{cel}}</h6>
      <h6>-Farenheit: {{far}}</h6>
      <h6>Precipitation: {{precip}}</h6>
      <h6>Humidity: {{humid}}</h6>
      <h6>Wind: </h6>
      <h6>-Km: {{wind_km}}</h6>
      <h6>-Mile: {{wind_mile}}</h6>
      <h6>{{comment}}</h6>
      
    </div>
  </body>
</html>