
<!doctype html>
<html lang="en">
  <head>
    {% block head %}
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      {% block styles %}
        <!-- Bootstrap CSS -->
        {{ bootstrap.load_css() }}
      {% endblock %}
      <title>7327 Project CST 205 Project</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
      {% endblock %}
  </head>
  
  <body>
    <header>
      <div class="container">
        <h1 class="logo">The Aviator Navigator</h1>
        <strong><nav>
          <ul class="other_pages">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('page2func') }}">How It Works</a></li>
            <li><a href="{{ url_for('page3func') }}">Experience</a></li>
            <li><a href="{{ url_for('page4func') }}">Results</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    <div class="container">
      
      <h1>Results</h1><br/>
      <h4>
        Weather in 
        <strong> 
          <i>{{region}}</i> 
        </strong>
      </h4>
      <h5>Last updated, 
        <strong> 
          <i>{{dot}}</i> 
        </strong>
        
      </h5>
      <br/>
      <div class="center">
        <h3>
          <strong>Weather Info</strong>
        </h3><br>
        <h6>Temperature </h6>
        <div class="left">
          <h6>Celsius:</h6>
          <h6>{{cel}}</h6>
        </div>
  
        <div class="right">
          <h6>Farenheit: </h6>
          <h6>{{far}}</h6>
        </div>
        <img src="https://www.open.edu/openlearn/pluginfile.php/1314043/mod_oucontent/oucontent/67522/f28f9bd8/edd9c651/bltl_m1_s2_5.png" alt="tempe">
        <br>
        
      </div>
      <br>
      
      <div class="center">
        <h6>Precipitation: {{precip}}</h6>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRujRvjVHJlkA89-v0rJYYCAG7SHa-_Ri3cEw&usqp=CAU" alt="rain">
        <br><br>

        <h6>Humidity: {{humid}}</h6>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqdC_G4E81M-_oWDV_nZW0wI89AA0IWs8m3XSrjnG_gti9O_Yida6bXc0AsGjAfOdo0qY&usqp=CAU" alt="humid">
        <br><br>

        <h6>Wind: </h6>
        <div class="left">
          <h6>Km:</h6>
          <h6>{{wind_km}}</h6>
        </div>
  
        <div class="right">
          <h6>Mile: </h6>
          <h6>{{wind_mile}}</h6>
        </div>
        <img src="https://www.lufft.com/blog/app/uploads/2020/01/strong_wind.jpg" alt="wind">
        <br><br>
        
        <h6>Comments:</h6>
        <h6>{{comment}}</h6>
        <br><br>
      </div>
        
      <h6>*Note: Weather API changes every hour</h6>
      
    </div>
  </body>
</html>